@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import'./normalize.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.border-success {
  border-color: rgb(30, 182, 0);
}